.textJustify {
    text-align: justify;
}
.commentItem {
    margin-top: 1.5rem !important;
}
.loadCommentsButton {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.loadCommentsButtonDisabled {
    cursor: not-allowed;
    pointer-events: none;
}
.commentDeleteButton {
    position: absolute;
    right: 10px;
    background-color: red !important;
}
.commentEditButton {
    position: absolute;
    right: 120px;
    background-color: rgb(153, 153, 24) !important;
}
.commentBody {
    position: relative;
}
.confirmDelete {
    position: absolute;
    left: 20%;
    top: 45%;
    width: 25%;
    background-color: red;
}
.cancelDelete {
    position: absolute;
    right: 20%;
    top: 45%;
    width: 25%;
    background-color: green !important;
}
.textArea {
    width: 100%;
    min-width: 400px;
}
.beGreen {
    background-color: green !important;
}
.newCommentButton {
    position: relative;
    right: 24px;
}
.h5mod {
    white-space: pre-wrap;
}
.newCommentCancelButton {
    position: absolute;
    right: 20%;
}
.newCommentSaveButton {
    position: absolute;
    left: 20%;
}